.root{
    -fx-background-color: #666666;
}

#btnGenerate{
    margin-outside: 10px;
}

.hb{
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-spacing: 20px;
}

#possibleNode{
    -fx-padding: 2px
}

.UpDown{
    -fx-font-size: 10px;
}
#btnUp{
    -fx-rotate: 180;
    -fx-background-color: linear-gradient(greenyellow, yellowgreen);
}
#btnUp:hover{
    -fx-background-color: linear-gradient(yellowgreen, greenyellow);
}

#hbTop{
    /*-fx-background-color: blue;*/
}

#vbLeft{
    /*-fx-background-color: red;*/
}

#center{
    /*-fx-background-color: yellow;*/
}

#hbBottom{
    /*-fx-background-color: green;*/
}

Button{
    -fx-font-family: Monospaced;
    -fx-background-color: linear-gradient(yellowgreen, greenyellow);
}
Button:hover{
    -fx-background-color: linear-gradient(greenyellow, yellowgreen);
}

TextField{
    -fx-font-size: 18px;
    -fx-pref-width: 75px;
}

#fassung{
    -fx-min-height: 45;
    -fx-min-width: 45;
    -fx-background-color: linear-gradient(darkgoldenrod, goldenrod), bisque;
    -fx-background-insets: 0, 4;
}

#flowNode{
    -fx-font-style: italic;
    -fx-min-height: 25;
    -fx-min-width: 25;
    -fx-background-radius: 50%;
    -fx-background-color:  linear-gradient(yellowgreen, greenyellow);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#pane{
    -fx-border-color: linear-gradient(bisque, white);
    -fx-background-color: lightgrey;
    -fx-alignment: center;
}